<% include partials/header %>

  </head>

  <body id="page-top">
    <% include navbar %>
    
  <div style="margin-top: 69px;" id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbarr-nav">
        <li class="nav-item active">
          <a class="nav-link" href="instructions">
           
            <span>Instructions</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Q1</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">


          <div class="test-detail">
            <span class="name"><%=contest.contestName%></span>
            <span class="time">Time remaining : <span>time</span></span>
          </div>


          <!-- Area Chart Example-->
          <% test.forEach(function(q) {%>
          <div style="margin-top:20px;" class="card mb-3">
            <div class="card-header" style="text-align:left;">Question 1</div>
            <div class="card-body">
            <%=q.question %>
            </div>
            <div class="card-footer small text-muted">
                <form class="row" action="check" method="POST">
                    <div class="col-md-6 option"><input type="radio" name="op1" value=<%=q.op1 %>>  <%=q.op1 %></div>
                    <div class="col-md-6 option"><input type="radio" name="op2" value=<%=q.op2 %>> <%=q.op2 %></div>
                    <br>
                    <div class="col-md-6 option"> <input type="radio" name="op3" value=<%=q.op3 %>> <%=q.op3 %></div>
                    <div class="col-md-6 option"> <input type="radio" name="op4" value=<%=q.op4 %>> <%=q.op4 %></div>
                    <input style="visibility: hidden;" type="radio" name="question" value= <%=q.question %>>
                    <div class="start">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">Start</button>
                    </div>
                </form> 
            </div>
          </div>
          <% }); %>
         
         

        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

    

    <% include partials/footer %>
  </body>

</html>
